<div class="modal">
    <div class="post-container">
        <textarea name="Title" id="new-post-title" cols="30" rows="1" placeholder="Enter the title"></textarea>
        <textarea name="Content" id="new-post-content" cols="30" rows="5" placeholder="Enter your question"></textarea>
        <button id="send-post">Post</button>
    </div>
    <button id="close-modal">Close</button>

</div>