<nav class="navbar navbar-expand-lg ">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">ONLINE PORTAL</p>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/admin">HOME</a></li>
          <li id="adduser"><a href="/admin/add">ADD USER</a></li>
          <li id="addpay"><a href="/admin/pay">ADD PAYMENT</a></li>
          <li id="trans"><a href="/admin/transactions">TRANSACTIONS</a></li>
          <a class="btn btn-dark btn-lg" href="/admin/logout" role="button">Log Out</a>
        </ul>
    </div>
    </div>
  </nav>