

  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">ONLINE PORTAL</p>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="forums"><a href="/forum">FORUMS</a></li>
          <li id="payment"><a href="/payment">PAYMENTS</a></li>
          <li id="results"><a href="/results">EXAM RESULTS</a></li>
          <li id="attendance"><a href="/attendance">ATTENDANCE</a></li>
          <li id="resources"><a href="/resources">COURSE RESOURCES</a></li>
          <a class="btn btn-dark btn-lg" href="/login/logout" role="button">Log Out</a>
        </ul>
    </div>
    </div>
  </nav>



