.post-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border: 1px solid black;
}
.input-fields{
    margin:10px;
}

.flex-box{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border: 1px solid black;
}

.enlarge{
    height: 60%;
    justify-content: space-around;
    border: 0px none;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.rounded-box{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

section{

    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
}
.new-post-container{
    display: flex;
    justify-content: end;
    position: sticky;
    margin: 2%;
    bottom: 10%;
}
.search-box{
    display: flex;
    margin:10px;
    justify-content: center;
    font-size: large;
}
.tag-container{
    justify-content: space-between;
    display: flex;
    margin:10px;
    align-items: center;
    flex-basis: 600px;
    flex-wrap: wrap;

}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 10px;
}
#new-post{
    border: none ;
}
#newPost-image{
    width: auto;
    height: 5vh;
}

input[type='text']{
    width:50%;
    height: 5vh;
    border-radius: 10px;
}

textarea, input.input-fields{
    width:100%;
    border-radius: 10px;
    font-size: xx-large;
    text-align: center;
}
.actions-button{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}

.modal{
    display: none;
    background-color: #1ABC9C;
    width:60%;
    padding: 10px;
    margin: auto;
    height: 50vh;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal button{
    width: 40%;
    height: 30px;
    font-size: large;
}




.replies{
    border: black solid 1px;
}