.post-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border: 1px solid black;
}

section{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
}
.new-post-container{
    display: flex;
    justify-content: end;
    position: sticky;
    margin: 2%;
    bottom: 10%;
}

.modal{
    display: none;
    background-color: cadetblue;
    width:80%;
    margin: auto;
    height: 70%;
    justify-content: space-around;
    flex-direction: column;
}

