.post-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border: 1px solid black;
}

section{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
}