html {
  min-height: 100%;
  position: relative;
}

.body {
	/* background: #f6f5f7; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
    background-color: #de8785;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.extend{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}


.car-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80vh;
}

.carousel{
  display:flex;
  justify-content: center;
}


.centered {
    padding-top: 200px;
    text-align: center;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: whitesmoke;
}

.navbar-brand {
  padding-top: 10%;
  font-size: large;
  font-weight: bold;
  color: black !important;
}



.navbar-nav li a {
  color: black !important;
  letter-spacing: 2px;

}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.btn{
  height: fit-content;
  margin-top: 9px;
}

/* .footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
} */

/* .footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
} */


.jumbotron{
  padding-top: 20px;
}





.pay {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.registration-form {
  width: 450px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reg-title{
  padding-bottom: 5px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}


.half-width {
  flex: 1 1 45%; 
}


label {
  display: block;
  font-weight: bold;
}


.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.btn-submit {
  margin-top: 15px; /* Add space between form and button */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.btn-submit:hover {
  background-color: #1caa8e;
}


.element{
  font-size: medium;
  font-weight: bold;
}

th, td {
  padding: 15px;
  text-align: left;
}

table,td,th {
  border: 1px solid;
}

.table{
  width: 40%;
}

tr:hover {background-color: coral;}


.box{
  padding: 5px;
  border-bottom: dashed;
}

.table-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

td{
  font-weight: bold;
  font-size: medium;
}